<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Primera Page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-list-header color="primary">
      <b><ion-label>Listado de S.O.</ion-label></b>
    </ion-list-header>
    <ion-item>
      <ion-label>IPhone</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Android</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Windows</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sambian</ion-label>
    </ion-item>
  </ion-list>

  <h1>Botones</h1>
  <ion-button>Aceptar</ion-button>
  <ion-button expand="block">Aceptar</ion-button>
  <ion-button shape="round">Aceptar</ion-button>
  <ion-button fill="outline" shape="round">Aceptar</ion-button>
  <ion-button size="small">Aceptar</ion-button>
  <ion-button size="large">Aceptar</ion-button>
  <ion-button>Aceptar <ion-icon slot="start" name="add-circle-outline"></ion-icon></ion-button>
  <ion-button>Aceptar <ion-icon slot="end" name="remove-circle"></ion-icon></ion-button>
  <ion-button color="success">Aceptar</ion-button>
  <ion-button color="warning">Aceptar</ion-button>
  <ion-button color="dark">Aceptar</ion-button>
  <ion-button color="danger">Aceptar</ion-button>
<!--
  https://ionic.io/ionicons
-->
</ion-content>

<ion-footer>
  <h4>Footer</h4>
</ion-footer>