<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cinco</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="present-alert">Alerta</ion-button>
  <ion-alert trigger="present-alert" 
              header="Ejemplo de alerta"
              subHeader="Mensaje importante"
              message="Esta es una alerta de ejemplo."
              [buttons]="alertButtons"></ion-alert>

  <ion-button (click)="alerta()" expand="block" fill="clear" shape="round">alertar</ion-button>
  <ion-label>El valor del numero es: {{ numero2 }}</ion-label>
  <br>
  <ion-button (click)="incrementar()">
    <ion-icon slot="start" name="add"></ion-icon>
    Aumentar
  </ion-button>
  <ion-label>valor actual: {{ numero }}</ion-label>

  <!-- 
    row / col
    fab button
  -->
</ion-content>
