<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cuatro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Contenido de la tarjeta para mostrar información
    </ion-card-content>
  </ion-card>
  <hr>
  <ion-card>
    <img src="assets/playa.jpg" alt="playa">
    <ion-card-header>
      <ion-card-subtitle>Playa en Colombia</ion-card-subtitle>
      <ion-card-title>Playa San Andrés</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Isla en el norte de Colombia, compuesta por varias islas.
    </ion-card-content>
    <a href="https://www.viajesfalabella.cl/?gclid=CjwKCAjwloynBhBbEiwAGY25dOJ_6xYcg6aXHJSI9XIKVg8LB2EMS4E285lJdEWNUudZcfn4HmnPCxoCfI0QAvD_BwE&mktdata=key%3DJU2BGE0FV1UKMCGIUTAEK8NSA8%26c%3D11293324301%26accountid%3D2922221733%26pr%3DX%26cc%3DCL%26n%3Dg%26d%3Dc%26campaignid%3D11293324301%26adgroupid%3D117591789584%26kw%3D%26adid%3D471232733942%26targetid%3Ddsa-390658374645%26locationid%3D1003325%26gclid%3DCjwKCAjwloynBhBbEiwAGY25dOJ_6xYcg6aXHJSI9XIKVg8LB2EMS4E285lJdEWNUudZcfn4HmnPCxoCfI0QAvD_BwE%26id%3D20230821190946149164859927129854%26trackeame_user_id%3D125F2250809B1692203026325b4498117-7436-4648-ba06-9ed632737b2916998767">Ver Precios</a> 
  </ion-card>

</ion-content>
