<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-list-header>
    <ion-label>Opciones</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-button [routerLink]="['/uno']">
      Ver Botones
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/dos']">
      Ver formulario en blanco
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/tres']">
      Ver Inputs
    </ion-button>
  </ion-item>
  <ion-item>
    <p><a href="/tres">Ir a página tres</a></p>
  </ion-item>
  <ion-item>
    <p><a href="/cuatro">Ir a página cuatro</a></p>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/cinco']" size="large">
      <!-- https://ionic.io/ionicons -->
      <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
      Alertas
    </ion-button>
  </ion-item>
  <ion-item>
    <p><a href="/seis">Atributos y muestra de datos</a></p>
  </ion-item>
</ion-list>
</ion-content>

